* {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Zilla Slab', serif;*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-right: 10px;
    padding: 10px;
    top: 10px;
    position: sticky;
}

.nav-logo {
    margin-lef: 50px;
    padding: 20px;
    float: left
}

.nav {
    display: inline-block;
    padding: 20px;
}

.right-nav {
    float: right;
    margin-right: 50px;
}

.tuitt-button {
    background-color: #c2195b;
    color: white;
    border: 2px #c2195b;
    padding: 10px;
    border-radius: 50px;
}

#bg-image {
    margin-top: 100px;
    min-height: 100vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.title {
    text-align: right;
    font-family: 'Zilla Slab', serif;
    font-size: 100px;
    color: white;
    padding: 20px;
    margin-right: 100px;
}

.title-2 {
    font-family: 'Zilla Slab', serif;
    text-align: center;
    padding: 40px;
}

.intro-description {
    padding: 30px;
    font-size: 20px;
    /*font-size: 150%;*/
}

.subtitle {
    text-align: right;
    color: white;
    font-size: 30px;
    margin-right: 100px;
}

.apply-button {
    float: right;
    background-color: #c2195b;
    color: white;
    border: 2px #c2195b;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
    margin-right: 100px;
}

.pre-footer {
    background-color: #f7fbfb;
    text-align: center;
    padding: 50px;
}

.prefooter-description {
    padding: 30px;
    font-size: 20px;
}

.book-button {
    background-color: #336589;
    color: white;
    border: 2px #336589;
    padding: 10px;
    border-radius: 50px;
}

footer {
    text-align: center;
}